<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="http://localhost/curso-php/assets/css/style_login.css">
</head>

<body>
    <header>
        <div class="content_area">
            Bem vindo {{name_user}},
    
            <a href="http://localhost/curso-php/dashboard/logout">Sair</a>
        </div>
    </header>

    <section class="box_dashboard">
        <div class="content_area">
            <h1>DASHBOARD</h1>
        </div>
    </section>
</body>

</html>